$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";

//@import "node_modules/bootswatch/dist/slate/variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";
//@import "node_modules/bootswatch/dist/slate/bootswatch.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.modal-header {
  .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.border-dashed {
  border-style: dashed !important;
}

.success-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  i.bi {
    font-size: 6em;
  }
}

.empty-state {
  p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

@each $breakpoint, $size in $grid-breakpoints {
  @media (min-width: $size) {
    // Your custom CSS goes here
    // You can use the $breakpoint variable to target specific breakpoints
    // For example:
    .modal-dialog {
      min-width: 0.9 * $size;
      margin-bottom: auto;
      margin-top: auto;
    }
  }
}

.modal {
  @extend .d-flex;
  @extend .justify-content-center;
  background-color: rgba(0, 0, 0, 0.5);
}
